{% extends "layout.html" %}

{% block content %}

  <div class="post">
  	<h2><a href="#">Jean</a></h2>
  	<p>I'll tell them you went down prying the wedding ring off his cold, dead finger. Oh, you're a dollar naughtier than most. I could if you hadn't turned on the light and shut off my stereo. You can crush me but you can't crush my spirit! You know, I was God once. Why am I sticky and naked? Did I miss something fun? What kind of a father would I be if I said no? Now what? Son, as your lawyer, I declare y'all are in a 12-piece bucket o' trouble. But I done struck you a deal: Five hours of community service cleanin' up that ol' mess you caused.</p>
  	<p>I'll tell them you went down prying the wedding ring off his cold, dead finger. Oh, you're a dollar naughtier than most. I could if you hadn't turned on the light and shut off my stereo. You can crush me but you can't crush my spirit! You know, I was God once. Why am I sticky and naked? Did I miss something fun? What kind of a father would I be if I said no? Now what? Son, as your lawyer, I declare y'all are in a 12-piece bucket o' trouble. But I done struck you a deal: Five hours of community service cleanin' up that ol' mess you caused.</p>
  </div>
    
{% endblock %}